/* Style for MacOS Terminal */
.mac-os-terminal-prompt {
    border-radius: 0.6em;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
}

.mac-os-dark {
    color: #cacaca;
    background-color: #1e1e1e;
    border: solid 0.03em black;
}

.mac-os-bright {
    color: #373739;
    background-color: #ffffff;
    border: solid 0.03em #a6aba5;
}

.mac-os-title {
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

.mac-os-dark .mac-os-title {
    color: #fefefe;
    background-color: #4b4b4b;
    border-bottom: solid 1px black;
}

.mac-os-bright .mac-os-title  {
    color: #5a5a58;
    background-color: #dbdbdb;
    border-bottom: solid 1px #a6aba5;
}

.mac-os-buttons::before {
    content: '';
    transform: translate(0.7em, -1.2em);
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    background: #fe5955;
    -webkit-box-shadow: 1.4em 0 0 #eabf22, 2.8em 0 0 #4fc12d;
            box-shadow: 1.4em 0 0 #eabf22, 2.8em 0 0 #4fc12d;
}

.mac-os-content {
    list-style: none;
    transform: translateY(-0.5em);
    padding: 0;
    margin: 0 0 0 1em;
}

.mac-os-content .input::before {
    content: '$ ';
    display: inline-block;
    font-weight: bold;
    padding-right: 0.3em;
}

.mac-os-content .output::before {
    content: '';
    display: inline-block;
    font-weight: bold;
    padding-right: 0.85em;
}

/* Style for Ubuntu Terminal */
.ubuntu-terminal-prompt {
    border: solid 0.03em #3d3c38;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    background-color: #300a24;
    font-family: Ubuntu; 
}

.ubuntu-title {
    font-size: 1em;
    line-height: 1.6em;
    padding-left: 4.7em;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    color: #dfdbd2;
    background-color: #3c3b37;
}

.ubuntu-buttons::before {
    content: '';
    transform: translate(0.7em, -1.2em);
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    background: #e45d20;
    -webkit-box-shadow: 1.4em 0 0 #7a7973, 2.8em 0 0 #7a7973;
            box-shadow: 1.4em 0 0 #7a7973, 2.8em 0 0 #7a7973;
}

.ubuntu-content {
    list-style: none;
    transform: translateY(-0.5em);
    padding: 0;
    margin: 0 0 0 1em;
    color: #f5f3f5;
}

.ubuntu-content .input::before {
    content: '$ ';
    display: inline-block;
    font-weight: bold;
    padding-right: 0.3em;
}

.ubuntu-content .output::before {
    content: '';
    display: inline-block;
    font-weight: bold;
    padding-right: 0.85em;
}

/* Style for Windows 10 Terminal */
.windows-terminal-prompt {
    border: solid 0.03em #6e6e6e;
    background-color: #0c0c0c;
    font-family: fixedsys, consolas, monospace;
}

.windows-title {
    font-size: 1em;
    line-height: 1.6em;
    padding-left: 2em;
    color: black;
    background-color: #ffffff;
}

.windows-buttons {
    width: 100%;
}

.windows-buttons::before {
    content: '';
    transform: translate(0.7em, -1.3em);
    display: inline-block;
    width: 1.05em;
    height: 0.65em;
    background: #000000;
    border-top: solid 0.15em #a8acb2;
}

.windows-buttons::after {
    content: '\2014\0020\25FB\0020\1F7A9';
    transform: translate(-0.4em, -1.3em);
    float: right;
    display: inline-block;
    font-size: 1.2em;
}

.windows-content {
    list-style: none;
    transform: translateY(-0.5em);
    padding: 0;
    margin: 0 0 0 1em;
    color: #f5f3f5;
}

.windows-content .input::before {
    content: '$ ';
    display: inline-block;
    font-weight: bold;
    padding-right: 0.3em;
}

.windows-content .output::before {
    content: '';
    display: inline-block;
    font-weight: bold;
    padding-right: 0.85em;
}
